<h2>Reporter output</h2><table><tr><td><div style="display:block;margin-left:10px;"><div  class="info"><span class="info-label">I </span>Started</div><div  class="info"><span class="info-label">I </span>Started1</div><div  class="pass"><span class="pass-label">P </span>Orbitz Home Page Verification
Expected: a string containing "ORBITZ.com – Best Travel Deals"
     Actual: was "ORBITZ.com – Best Travel Deals" <a href="../img/oneWayFlightBookingTest_1g5ibe88as7vk25191.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>Verify homepage</div></div></td></tr>
</table>