<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b8a0b8">  <td>18/03/08 18:06:24</td>   <td>0</td> <td title="&gt;&gt;AbstractTestCase.setupSuit(org.testng.ITestContext)[pri:0, instance:com.orbitzflights.tests.OrbitzFlightTest@dbd940d]">&gt;&gt;setupSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1653844940</td>   <td></td> </tr>
<tr bgcolor="b8a0b8">  <td>18/03/08 18:06:24</td>   <td>16</td> <td>&nbsp;</td><td title="&gt;&gt;AbstractTestCase.setupTest(org.testng.ITestContext)[pri:0, instance:com.orbitzflights.tests.OrbitzFlightTest@dbd940d]">&gt;&gt;setupTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1653844940</td>   <td></td> </tr>
<tr bgcolor="b8a0b8">  <td>18/03/08 18:06:24</td>   <td>31</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.orbitzflights.tests.OrbitzFlightTest@dbd940d]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1653844940</td>   <td></td> </tr>
<tr bgcolor="b8a0b8">  <td>18/03/08 18:06:24</td>   <td>54</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.orbitzflights.tests.OrbitzFlightTest@dbd940d]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>main@1653844940</td>   <td></td> </tr>
<tr bgcolor="b494a6">  <td>18/03/08 18:06:24</td>   <td>55</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OrbitzFlightTest.oneWayFlightBookingTest()[pri:0, instance:com.orbitzflights.tests.OrbitzFlightTest@dbd940d]">oneWayFlightBookingTest</td> 
  <td>main@1653844940</td>   <td></td> </tr>
<tr bgcolor="b8a0b8">  <td>18/03/08 18:06:47</td>   <td>22808</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.orbitzflights.tests.OrbitzFlightTest@dbd940d]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1653844940</td>   <td></td> </tr>
<tr bgcolor="b8a0b8">  <td>18/03/08 18:06:47</td>   <td>22812</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.orbitzflights.tests.OrbitzFlightTest@dbd940d]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1653844940</td>   <td></td> </tr>
<tr bgcolor="b8a0b8">  <td>18/03/08 18:06:47</td>   <td>22815</td> <td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterTest(org.testng.ITestContext)[pri:0, instance:com.orbitzflights.tests.OrbitzFlightTest@dbd940d]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1653844940</td>   <td></td> </tr>
<tr bgcolor="b8a0b8">  <td>18/03/08 18:06:47</td>   <td>22967</td> <td title="&lt;&lt;AbstractTestCase.afterSuit(org.testng.ITestContext)[pri:0, instance:com.orbitzflights.tests.OrbitzFlightTest@dbd940d]">&lt;&lt;afterSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1653844940</td>   <td></td> </tr>
</table>
