<h2>Reporter output</h2><table><tr><td><div style="display:block;margin-left:10px;"><div  class="pass"><span class="pass-label">P </span>Orbitz Home Page Verification
Expected: a string containing "ORBITZ.com – Best Travel Deals"
     Actual: was "ORBITZ.com – Best Travel Deals" <a href="../img/oneWayFlightBookingTest_hn00a7ub74n557130.png" target="_blank">[View Screenshot]</a> </div></div></td></tr>
</table>